<table cellspacing="0" cellpadding="0" width="600" class="w320">
  <tr>
    <td width="50">&nbsp;</td>
    <td width="1000" align="center">
      <div align="justify">
        <p><%= t('.hello') + ',' %></p>

        <p><%= t('.content') %></p>

        <ul>
          <% drivers.each do |driver| %>
            <li>
              <%= t('.login', email: driver['email'], password: driver['password']) %>
            </li>
          <% end %>
        </ul>

        <p>
          <%= I18n.t('user_mailer.layout.staff.greetings').html_safe %>
        </p>
        <p class="signature">
          <%= I18n.t('user_mailer.layout.staff.signature', name: user.customer.reseller.name).html_safe %>
        </p>
      </div>
    </td>
    <td width="50">&nbsp;</td>
  </tr>
</table>

<% content_for :footer do %>
  <%= render 'user_mailer/user_mail_layouts/full_links_footer' %>
<% end %>
